<div class="col-sx-12" style="height:50px"></div>

<div class="row">
    <div class="col-sm-3" *ngFor="let anotacao of anotacoes | async">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Nome: {{ anotacao.obs }} </h5>
                <p class="card-text">Texto de exemplo</p>
                <a href="#" class="mr-1 btn btn-primary">Visualizar</a>
                <a href="#" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    </div>
</div>